<div class="container">
    <button class="learn-more" routerLink="/teachers">
        <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
        </span>
        <span class="button-text"> Teachers </span>
      </button>
      <br><br>
      <br><br>
      <button class="learn-more" routerLink="/students">
        <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
        </span>
        <span class="button-text"> Students </span>
      </button>
</div>
